body{
    background-color: lightblue;
}
@media(min-width :768px) {
    .perfect{
        display: flex;
    }
}
img{
   width: 210px;
   height: 180px; 
}
.small-pizza{
    flex: 1;
    border: 2px;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: beige;
}
.medium-pizza{
    flex: 1;
    border: 2px;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: rgb(0, 247, 255);
}
.large-pizza{
    flex: 1;
    border: 2px;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: lightgreen;
}
.contact-details{
    border: 2px solid lightskyblue;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: lightslategray;
   
}
.contacts-within{
    display: flex;
}
.address{
margin-left: auto;
}